<!DOCTYPE html>
<html>

	<head>

		<title>End to End testing with protractor</title>
        <link rel="stylesheet" href="./app.css">
	</head>
		
	<body ng-app="app" ng-cloak>

		<div ng-controller="TestCtrl">
			<h1>CLASSIC HELLO ANGULAR TEST</h1>
		 	<p>Name : <input type="text" ng-model="firstName"></p>
		 	<h1 ng-cloak>Hello {{firstName}}!</h1>

		    <h1>PROMISES TESTS</h1>
			<input type="button" ng-click="getAsyncMessage()" value="Get me an async message"/>
			<input type="button" ng-click="cancelRequested=true" value="Cancel Fetching Message"/>
			<br/>
			Promise Status - {{status}} </br>
			SITUAZIONE GLOBALE - {{status2}}

			 	<!--button id="loadStaff" ng-click="loadStaff()">Load Staff</button>
			 	<h1>Staff List</h1>
			 	<ul>
			 		<li class="item" ng-repeat="staff in staffList">{{staff.lastName}}</li>
			 	<ul-->	
		</div>

		<div ng-controller="WeatherController">
			<h1>WEATHER CONTROLLER</h1>
			City :<input type="text" ng-model="city" placeholder="Enter city name here" />
			Country:<input type="text" ng-model="country" placeholder="Enter country name here" />
			<button ng-click="getWeather()">Get Weather</button>
			<br/><br/>
			<b>Weather Condition:</b> <span>{{weatherDescription}}</span>
		</div>	
		
		<div ng-controller="DirectivesController">
			<h1>DIRECTIVES CONTROLLER</h1>
			<input type="text" ng-model="message" placeholder="Enter message" />
			<hello-world message="{{message}}" show-message-attr="showMessage(arg)"></hello-world>
		</div>	

		<script src="bower_components/angular/angular.js"></script>
		<script src="app.js"></script>
		<script src="WeatherService.js"></script>
		<script src="HelloWorldDirective.js"></script>

	</body>

</html>